* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Kaushan Script', cursive;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: rgb(255, 255, 255);
  padding-top: 70px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 114px;
  padding-top: 35px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(149, 225, 211);
  text-decoration: none;
  animation-name: fadeOutUp;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.navigation_list {
  display: flex;
  justify-content: space-between;
  width: 490px;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation_list-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.2;
  color: rgb(149, 225, 211);
  text-transform: uppercase;
  font-weight: 600;
  transition: color 200ms linear;
}

.navigation_list-link:hover,
.navigation_list-link:focus {
  color: rgb(243, 129, 129);
}

.navigation_list-link::after {
  content: '';
  background-color: rgb(243, 129, 129);
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 26px;
  display: block;
  transition: color 200ms linear;
}

.navigation_list-link:hover::after {
  width: 100%;
}

.navigation__list-item {
  position: relative;
}

.features-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 110px;
}

.features-title::after {
  content: '';
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features-work {
  font-family: 'Kaushan Script', cursive;
  display: block;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
  text-transform: none;
}

.features-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.features-text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.features-list-item {
  background-repeat: no-repeat;
  flex-basis: 352px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: 62px;
  margin-bottom: 100px;
}

.features-list-item::before {
  content: '';
  display: block;
  width: 32px;
}

.icon-alarm {
  background-image: url(../images/icons/alarm.png);
}

.icon-line {
  background-image: url(../images/icons/line.png);
}

.icon-comp {
  background-image: url(../images/icons/comp.png);
}

.icon-book {
  background-image: url(../images/icons/book.png);
}

.icon-home {
  background-image: url(../images/icons/home.png);
}

.icon-frame {
  background-image: url(../images/icons/frame.png);
}

.section-content {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  margin-bottom: 95px;
  text-align: center;
  padding: 0 120px 0 120px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  max-width: 100%;
}

.team-wrap {
  position: relative;
  transition: transform 200ms linear, box-shadow 200ms linear;
}

.team-img {
  margin-bottom: 31px;
  width: 380px;
}

.last-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.job-title {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%);
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms linear, visibility 200ms linear;
}

.social-list {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 1px;
}

.social-list__item-link {
  background-color: rgb(252, 227, 138);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 56px;
  height: 56px;
  transition: background-color 200ms linear;
}

.social-list__item-link:hover,
.social-list__item-link:focus {
  background-color: rgb(149, 225, 211);
}

.social-list__item-link-facebook {
  background-image: url(../images/icons/facebook.png);
}

.social-list__item-link-twitter {
  background-image: url(../images/icons/twitter.png);
}

.social-list__item-link-pinterest {
  background-image: url(../images/icons/pinterest.png);
}

.social-list__item-link-instagram {
  background-image: url(../images/icons/instagram.png);
}

.team-list__item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.team-list__item:hover .team-wrap {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px rgb(149, 225, 211);
}

footer::before {
  content: '';
  background-color: rgb(229, 229, 229);
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
}

footer {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  text-align: left;
  padding-top: 110px;
  padding-bottom: 24px;
}

.designed {
  color: rgb(243, 129, 129);
  text-decoration: none;
}

.contact-form {
  display: flex;
}

.contact-form__input {
  height: 40px;
  width: 230px;
  padding-left: 12px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgb(217, 217, 217);
  outline: 0;
}

.contact-form__input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  font-style: italic;
  color: rgb(217, 217, 217);
  font-weight: 300;
}

.contact-form__btn {
  border: none;
  background-color: rgb(149, 225, 211);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  outline: 0;
}

.foot-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}