.header {
  background-image: linear-gradient(to top,
      rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%),
    url('../images/header-bg-min.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 230px;

  &__navigation {
    padding-top: 28px;
  }

  &__title {
    font-size: 150px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 820px;
    margin: 0 auto 66px;
  }

  &__btn {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    width: 164px;
    height: 44px;
    background-color: transparent;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    padding: 11px 28px;
  }

  @media (min-resolution: 192dpi) {
    background-image: linear-gradient(to top,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%),
      url('../images/header-bg@2x-min.png');
  }
}

.navigation {
  @extend %align-between;
  align-items: center;
  padding-bottom: 114px;
  padding-top: 35px;
}

.logo {
  @include font(30px, 700, 32px);
  color: rgb(255, 255, 255);
  text-decoration: none;
  animation-name: flipInY;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.navigation-list {
  @extend %align-between;
  width: 490px;
  margin-left: 370px;
  padding: 0;
  position: relative;

  &__link {
    @include font(14px, 400, 1.2);
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: color 200ms linear;

    &:hover,
    &:focus {
      color: rgb(252, 227, 138);
    }

    &::after {
      content: '';
      background-color: rgb(252, 227, 138);
      width: 0%;
      height: 3px;
      position: absolute;
      left: 0;
      top: 26px;
      display: block;
      transition: color 200ms linear;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__item {
    position: relative;
  }
}

.navigation-btn {
  @extend %align-wrap;

  &__icon-basket {
    width: 18px;
    height: 15px;
  }

  &__icon-magnifier {
    width: 18px;
    height: 18px;
  }

  &__item-btn {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__icon {
    fill: rgb(255, 255, 255);
    transition: transform 0.2s linear;
  }

  &__item:hover &__icon {
    fill: rgb(252, 227, 138);
  }

  &__item {
    margin-right: 56px;
    max-width: 100%;

    &:hover {
      transform: scale(2, 2);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.title__text {
  @include font(72px, 400, 1.2);
  display: block;
  font-family: $third-font;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: none;
}
