.services {
  padding-top: 55px;
  padding-bottom: 50px;
}

.title-item {
  @include font(24px, 400, 1.2);
  font-family: $third-font, cursive;
  display: block;
  margin-bottom: 20px;
  color: rgb(51, 51, 51);
  text-transform: none;
}

.list-name {
  @include font(14px, 400, 1.2);
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.list-text {
  @include font(15px, 400, 1.6);
  font-family: $second-font;
  color: rgb(153, 153, 153);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    background-repeat: no-repeat;
    flex-basis: 352px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-left: 62px;
    position: relative;
    max-width: 100%;

    &-icon {
      width: 32px;
      height: 32px;
      fill: rgb(149, 225, 211);
      position: absolute;
      top: 0;
      left: 0;
    }

    &::before {
      content: '';
      display: block;
      width: 32px;
    }

    &:not(:nth-last-of-type(-n + 3)) {
      margin-bottom: 90px;
    }
  }
}
