@media screen and (max-width: 767px) {
    .container {
        width: 292px;
    }

    .menu {
        background-image: url(../images/banner/mob_object.png);
        padding-top: 20px;
        padding-bottom: 138px;
    }

    .button__nav-type {
        margin-bottom: 120px;
    }

    .header__name {
        font-size: 30px;
        margin: 0 0 24px;
    }

    .header__text {
        font-size: 18px;
        margin: 0 auto 20px;
        width: 218px;
    }

    .partners {
        padding-top: 74px;
        padding-bottom: 56px;
    }

    .partners__list {
        margin-bottom: 30px;
    }

    .partners__list-item:not(:last-child) {
        margin: 0 auto 30px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 660px;
    }

    .menu {
        background-image: url(../images/banner/tablet_object.png);
        padding-top: 50px;
        padding-bottom: 234px;
    }

    .button__nav {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 160px;
    }

    .header__name {
        font-size: 52px;
        margin-bottom: 0 0 45px;
    }

    .header__text {
        font-size: 24px;
        margin: 0 auto 40px;
    }

    .partners {
        padding-top: 76px;
        padding-bottom: 40px;
    }

    .partners__list-item:nth-child(-n+2) {
        margin-bottom: 60px;
    }

    .partners__list-item:nth-child(n+2) {
        margin-bottom: 60px;
    }

    .partners__list-item:nth-child(2n) {
        margin-right: 0;
    }

    .partners__list-item-order01 {
        order: 1;
    }

    .partners__list-item-order02 {
        order: 2;
    }

    .partners__list-item-order03 {
        order: 3;
    }

    .partners__list-item-order04 {
        order: 4;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-nav {
        width: 662px;
    }

    .partners {
        width: 460px;
    }

    .partners__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .menu {
        background-image: url(../images/banner/disp_object.png);
    }

    .partners {
        width: 920px;
        padding-top: 40px;
        padding-bottom: 72px;

    }

    .partners__list {
        display: flex;
        justify-content: space-between;
    }

}