@-webkit-keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }

    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/montserrat-v14-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-300 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'),
        url('../fonts/roboto-v20-latin-300.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-300.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v20-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.menu {
    background-color: rgb(26, 25, 21);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 20px;
    padding-bottom: 138px;
}

.container {
    width: 292px;
    margin: 0 auto;
    text-align: center;
}

.button__nav {
    margin-bottom: 40px;

}


.button__nav-type {
    margin-bottom: 120px;
}

.button__nav-type-item {
    display: inline-block;
}

.btn__register {
    font-size: 14px;
    font-family: "Montserrat",
        sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.2;
    width: 90px;
    height: 40px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    transition: border 0.2s linear;
}

.btn__register:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.logotype {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    animation: jackInTheBox 1s linear 1 backwards;
}

.header__name {
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 24px;
}

.header__name-br {
    display: block;
}

.header__text {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    margin: 0 auto 20px;
    width: 218px;
}

.partners {
    padding-top: 74px;
    padding-bottom: 56px;
}


.find__partners {
    display: block;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.2;
    border-radius: 30px;
    background-color: rgb(255, 78, 80);
    cursor: pointer;
    width: 284px;
    height: 50px;
    padding: 16px 48px;
}

.partners__topic {
    font-size: 22px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.partners__photo {
    display: block;
    margin: 0 auto 24px;
}

.partners__list-item {
    margin: 0 auto 30px;
}

.partners__item-partner {
    font-size: 14px;
    color: rgb(51, 51, 51);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 22px;
}

.partners__item-about {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(102, 102, 102);
    line-height: 1.2;
    width: 218px;
    margin: 0 auto;
}

.other__partners {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 78, 80);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin: 0 auto;
    border: 2px solid rgb(255, 78, 80);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 284px;
    height: 50px;
    padding-top: 14px;
}



@media (max-width:747px) {
    .menu {
        background-image: url(../images/banner/mob_object.png);


    }
}