:root {
    --white-color: #ffffff;
    --text-color: #626262;
    --grey-color: #b4ad9e;
    --blue-color: #03a9f4;
    --primary-font-stack: "Playfair Display", serif;
}

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--white-color);
    font-family: var(--primary-font-stack);
}

.container {
    width: 900px;
    margin: 0 auto;
    background-color: var(--white-color);
}

header {
    background-color: var(--white-color);
}

.navigation .link {
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navigation ul {
    text-align: center;
}

.navigation li {
    display: inline-block;
}

.navigation li:not(:last-child) {
    margin-right: 110px;
}

.navigation .link:hover,
.navigation .link:focus {
    color: var(--blue-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 1.7;
}

.feauters .title {
    color: var(--text-color);
    font-size: 30px;
    font-weight: 400;
}

.feauters .signature {
    color: var(--grey-color);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Ubuntu", sans-serif;
}

.feauters .description {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.block {
    display: inline-block;
    width: 420px;
}

.block:nth-of-type(odd) {
    margin-right: 56px;
}

.block:nth-last-of-type(n + 2) {
    margin-bottom: 50px;
}

.pin {
    text-align: center;
    font-family: var(--primary-font-stack);
}

.button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: var(--white-color);
    min-width: 164px;
    min-height: 60px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #626262;
}